.all__search{


    .search__container{
    background-color: white;
    height: 50px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    box-shadow: black 0px 0px 10px 0px;
    padding: 5px;
    
     & input{

        background: none;
        border: none;
        font-size: large;
        font-weight: bolder;

        

        &:focus{
            outline: none;
        }

    }
    & button{
        background: $color_orange;
        border-radius: 10px;
        border: none;
        font-size: large;
        font-weight: bold;
        cursor: pointer;
        color: white;
        padding: 10px;
        &::after{
            position: absolute;
            z-index: 100;
            content: 'Tab';
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 30px;
            margin-left: -70px;
            margin-top: -25px;
            border: 1px dashed black;
            color: black;
            opacity: 0.5;
            border-radius: 10px;
        }
    }
    
    

    .complition{
        position: absolute;
        height: 50px;
        border-radius: 10px;
        margin-left: -100px;
        margin-top: 15px;
        color: black;
        opacity: 0.5;
        font-size: large;
        font-weight: bolder;
        display: flex;
        justify-content: start;
        align-items: start;
        
    }
    
}

.suggestions{
    
    position: absolute;
    z-index: 2;
    box-shadow: black 0px 0px 10px 0px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    
    
    & div{
        padding: 8px;
        width: 100%;
        
        &:hover{
            background-color: rgba(255, 255, 255, 0.749);

        }
    }
}


}